<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="theme-color" content="#000000"/>
    <!--    <link rel="shortcut icon"-->
    <!--          href=""/>-->
    <link rel="shortcut icon" type="image/png" href="/static/favicon.svg"/>
    <title>EE126 Simulation</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <meta name="google-signin-client_id"
          content="263271767302-2iv7peu72aiqgoh6jt565m7u8vsc8v3j.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
</head>

<style>
    body {
        margin: 0;
    }

    input:focus {
        outline: none;
    }
</style>

<body>

<noscript>You need to enable JavaScript to run this app.</noscript>
<div id="root"></div>

<script src="/static/build/index.js"></script>
<link rel="stylesheet" href="/static/build/index.css"/>

</body>
</html>